.App {
  text-align: center;
}

/* ------------Home------------------- */

#home {
  width: 100vw;
  height: 100vh;
}

/* ------------About------------------- */

#about {
  width: 100vw;
  height: 100vh;
}

#about-p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-p {
  width: 30vw;
  text-align: left;
}

/* ------------Projects------------------- */

#projects-container {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
}



